:root {

	/* colours */
	--background: hsl(200, 15%, 60%);
	--text: hsl(200, 15%, 20%);
	--links: hsl(200, 15%, 20%);
	--hover: hsl(200, 15%, 40%);
	--header: hsl(200, 15%, 85%);
	--sara: hsl(200, 15%, 80%);
	--work: hsl(200, 15%, 75%);
	--blog: hsl(200, 15%, 70%);
	--find: hsl(200, 15%, 65%);
	--b2top: hsl(200, 15%, 60%);
	
	/* scaling */
	--tabheight: clamp(30px, 5vw, 50px);
	
	/* fonts */
	--normal: 300;
	--heavy: 400;
}

@media (prefers-color-scheme: dark) {
	:root {

		/* colours */
		--background: hsl(200, 15%, 40%);
		--text: hsl(200, 15%, 80%);
		--links: hsl(200, 15%, 80%);
		--hover: hsl(200, 15%, 600%);
		--header: hsl(200, 15%, 15%);
		--sara: hsl(200, 15%, 20%);
		--work: hsl(200, 15%, 25%);
		--blog: hsl(200, 15%, 30%);
		--find: hsl(200, 15%, 35%);
		--b2top: hsl(200, 15%, 40%);
	}
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	
    margin-block-start: 0;
    margin-block-end: 0;

		box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
			
body {
	color: var(--text);
	background-color: var(--background);
	font-family: 'Work Sans', sans-serif;
	font-weight: var(--normal);
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: var(--links);
	font-weight: var(--heavy);
}
a:hover {
	color: var(--hover);
}

header {
	position: fixed;
	top: 0;
	height: calc(var(--tabheight) + 0.5rem);
	background-color: var(--header);
	z-index: 10;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding: 0 0.5em;
}

#name, nav, section h2 {
	line-height: calc(var(--tabheight) + 0.5rem);
}

#name {
	font-size: clamp(1.1rem, 4.75vw, 2rem);
}

nav {
	font-size: clamp(0.9rem, 4.5vw, 1.8rem);
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 0.25em;
}

#hero {
	background-color: var(--header);
	margin: 0 auto;
	height: 100vh;
}

#hero p {
	text-align: center;
	line-height: 50vh;
}

section {
	min-height: calc(100vh - 0.5rem - var(--tabheight));
	padding: 0.5rem 1em var(--tabheight);
	scroll-margin-top: calc(var(--tabheight) + 0.5rem);
}

.tab {
	position: sticky;
	margin-top: calc(-1 * (var(--tabheight) + 0.5rem));
	top: 0;
	pointer-events: none; 
}
.tab h2 {
	width: 20%;
	height: var(--tabheight);
	line-height: var(--tabheight);
	padding: 0 0.25em;
	font-size: clamp(1rem, 4vw, 2.2rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	pointer-events: auto;
	overflow: hidden;
}
.tab::after {
	content: "";
	display:block;
	width:100%;
	height: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

section > article {
	font-size: clamp(0.9rem, 3vw, 1.1rem);
	width: calc(95% - 1rem);
	overflow: auto;
	margin-inline: auto;
}

article p, article ul {
	margin: 0.3rem auto 0.8rem;
	max-width: 60ch;
}

article ul {
	list-style-type: none;
	text-align: center;
}

article ul li {
	line-height: 2.5rem;
}

article p b {
	margin: 1rem auto 1rem;
	font-weight: var(--heavy);
}

article > a {
	display: block;
	margin: 0 auto;
	max-width: 60ch;
}

a img {
	max-width: 100%;
}

.cardcontent {
	height: calc(100% - 3.5rem);
	width: 95%;
	margin: 0 auto;
	overflow: auto;
}

.cardcontent article {
	width: 90%;
	height: 200px;
	background:dimgrey;
	margin: 0.5rem;
}

.backtotop {
	position: absolute;
	height: 2rem;
	width: 2rem;
	bottom: 1rem;
	left: calc(50% - 1rem);
	text-align: center;
	font-size: 1.5rem;
	font-weight: var(--normal);
	line-height: 2rem;
	border-radius: 50%;
	background-color: var(--b2top);
}

.backtotop:hover {
	background-color: var(--background);
}

.sara {
	z-index: 11;
}
.sara h2 {
	margin-inline: auto 45%;
	background-color: var(--sara);
}
.sara::after {
	background-color: var(--sara);
}
#sara {
	z-index: 1;
	background-color: var(--sara);
}
#sara img {
	display: block;
	margin: 0 auto;
	max-height: 30%;
}

.work {
	z-index: 12;
}
.work h2 {
	margin-inline: auto 30%;
	background-color: var(--work);
}
.work::after {
	background-color: var(--work);
}
#work {
	z-index: 2;
	background-color: var(--work);
}

.blog {
	z-index: 13;
}
.blog h2 {
	margin-inline: auto 15%;
	background-color: var(--blog);
}
.blog::after {
	background-color: var(--blog);
}
#blog {
	z-index: 3;
	background-color: var(--blog);
}

.find {
	z-index: 14;
}
.find h2 {
	margin-inline: auto 0;
	background-color: var(--find);
}
.find::after {
	background-color: var(--find);
	border-top-right-radius: 0;
}
#find {
	z-index: 4;
	background-color: var(--find);
}

